@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --font-mono-family: 'Anonymous Pro', monospace;
    --primary-color: #5920B0;
    --secondary-color: #9575C6;
    --success-color: #60D130;
    --danger-color: #D13030;
    --warning-color: #DFAF2A;
    --info-color: #26C7E7;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    max-width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

*:focus {
    outline: 1px solid var(--secondary-color);
}

code:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

a {
    color: var(--primary-color);
    fill: var(--primary-color);
    transition: color .2s, transform .2s, text-decoration .2s, opacity .2s;
}

a:hover {
    transform: scale(1.02);
    opacity: .5;
}

h1, h2, h3, h4, .paragraph {
    margin: 0 0 .5rem 0;
}

h1 {font-size: 42px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 22px;}
h5 {font-size: 18px;}

pre {
    padding: 16px 22px;
    background: rgba(128, 128, 128, .02);
    overflow: auto;
    color: var(--secondary-color);
    border-radius: 4px;
    width: 100%;
    border: 1px solid var(--secondary-color);
    font-family: var(--font-mono-family);
}

code {
    font-family: var(--font-mono-family);
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

table td {
    border: 1px solid black;
}

button {
    position: relative;
    padding: .6rem 1rem;
    font-weight: 600;
    transition: opacity .2s, box-shadow .1s;
    border: none;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border-radius: .2rem;
    opacity: .8;
}

button:hover {
    opacity: 1;
}

button:active {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(128,128,128,.1);
}

input {
    padding: .6rem .8rem;
    border-radius: 4px;
    border: 1px solid rgba(128,128,128,.5);
    transition: .2s;
}

.floatInput > input {
    padding: 1.4rem 1rem .6rem 1rem;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid rgba(128,128,128,.5);
    box-shadow: 0 0 0 var(--secondary-color);
    transition: .2s;
}

input:focus {
    border: 1px solid rgba(128,128,128,.9);
    outline: none;
    box-shadow: 0 0 0 3px var(--secondary-color);
}

.floatInput > label {
    position: absolute;
    opacity: .5;
    top: 1.2rem;
    left: 1.2rem;
    transform: scale(1);
    transition: transform .2s, top .2s, left .2s;
}

.floatInput:focus-within label, .floatInput .inputhastext{
    top: .2rem;
    left: .86rem;
    transform: scale(.9);
}

.sticky {
    top: 0;
    left: 0;
    position: sticky;
    position: -webkit-sticky;
}

span {
    font-size: 12px;
    opacity: .6;
}

img {
    object-fit: cover;
}

.auto-width {
    width: 1200px;
    margin: 0 auto;
    padding: 0 14px;
}

.auto-menu-button {
    display: none;
}

.hidden {
    position: absolute;
    top: -999999999px;
}

.fixed {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
}

.close-x {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    width: 32px;
    height: 32px;
}

.close-x:after, .close-x:before {
    content: '';
    position: absolute;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    width: 10px;
    height: 10px;
}

.close-x:after {
    transform: rotate(45deg);
    top: 10px;
    left: 3px;
}

.close-x:before {
    transform: rotate(-135deg);
    top: 10px;
    left: 18px;
}

.buttonOutline {
    padding: .5rem .9rem;
    background: transparent;
    border: .1rem var(--primary-color) solid;
    color: var(--primary-color);
}

.buttonHoverDark {
    box-shadow: inset 0 0 0 6000px rgba(128, 128, 128, 0);
    transition: box-shadow .2s;
}

.buttonHoverDark:hover {
    box-shadow: inset 0 0 0 6000px rgba(128, 128, 128, .1);
}

.flex, .flexCenter, .flexMiddle, .flexColumn, .flexJustifyContent, .flexAlignItems, .flexDirection, .flexRow, .flexLeft, .flexRight, .flexTop, .flexBottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.flexCenter {
    justify-content: center;
}

.flexMiddle {
    align-items: center;
}

.flexColumn, .flex-column {
    flex-direction: column;
}

.flexRow, .flex-row {
    flex-direction: row;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexNowrap {
    flex-wrap: nowrap;
}

.flexWrapReverse {
    flex-wrap: wrap-reverse;
}

.flexLeft {
    align-items: flex-start;
}

.flexRight {
    align-items: flex-end;
}

.flexTop {
    justify-content: flex-start;
}

.flexBottom {
    justify-content: flex-end;
}

.fullWidth {width: 100%}
.fullHeight {height: 100%}
.windowWidth {width: 100vw}
.windowHeight {height: 100vh}

.grid {
    display: grid;
}

.label {
    position: relative;
    top: -3px;
    color: gray;
    text-decoration: none;
    display: inline-block;
    padding: .1rem .2rem;
    font-weight: 600;
    font-size: 10px;
    background: transparent;
    border: .1rem gray solid;
    border-radius: .2rem;
}

.label:hover {
    text-decoration: none;
}

.shadow {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.slideshow {
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: left .5s;
}

.slide > img {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slide > div {
    z-index: 2;
}

.slide-shadow:before {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 -800px 500px -500px rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
    content: '';
}

.textOverflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.modal {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.modal-hover {
    transition: background-color .2s;
    overflow: hidden;
    border-radius: 8px;
}

.modal-hover:hover {
    background-color: rgba(128, 128, 128, .1);
    overflow: hidden;
    font-size: 16px;
}

.slider {
    position: relative;
    aspect-ratio: 2/1;
    width: 62px;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 9999999px;
    pointer-events: none;
    transition: .2s;
}

.slider:after {
    position: absolute;
    content: '';
    height: calc(100% - .4rem);
    top: 0;
    left: 0;
    aspect-ratio: 1/1;
    background: white;
    border: .2rem solid gray;
    border-radius: 9999999px;
    pointer-events: none;
    transition: .2s;
}

.slider:checked:after {
    left: 50%;
    border: .2rem solid var(--info-color);
}

.slider:checked:before {
    background: var(--info-color);
}

.slider:focus-within {
    box-shadow: none;
}

.searchbar {
    position: relative;
}

.searchbar > div {
    width: 100%;
    transition: .2s;
    overflow-x: hidden;
    overflow-y: auto;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 4;
}

.searchbar:focus-within > div {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: auto;
    max-height: 600%;
}

.search-values > div {
    width: 100%;
    background: white;
    padding: 8px 16px;
    transition: background-color .2s;
    cursor: pointer;
}

.search-values > div:nth-child(2n) {
    background: rgba(240, 240, 240, 1);
}

.search-values > div:hover {
    background: rgba(220, 220, 220, 1);
}

.line {
    width: 100%;
    padding: 1px;
    margin: 0 20px;
    background-color: var(--secondary-color);
    border-radius: 5000px;
}

.loader, .loader-page {
    transition: .4s;
}

.loader-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;
}

.loader-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-top: 4px transparent solid;
    border-left: 4px var(--secondary-color) solid;
    border-bottom: 4px var(--secondary-color) solid;
    border-right: 4px var(--secondary-color) solid;
    animation: rotate 2s ease-in-out infinite;
}

.loader-icon:after {
    content: '';
    display: block;
    position: relative;
    top: -17px;
    left: -17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 4px transparent solid;
    border-left: 4px var(--primary-color) solid;
    border-bottom: 4px var(--primary-color) solid;
    border-right: 4px var(--primary-color) solid;
    animation: rotate 2.5s ease-in-out infinite;
}

.loader-line {
    background:-webkit-repeating-linear-gradient(45deg, #ffffff 0%, #ffffff 33%, #dedede 33%, #dedede 66%, #ffffff 66%, #ffffff 100%);
    background:-o-repeating-linear-gradient(45deg, #ffffff 0%, #ffffff 33%, #dedede 33%, #dedede 66%, #ffffff 66%, #ffffff 100%);
    background:-moz-repeating-linear-gradient(45deg, #ffffff 0%, #ffffff 33%, #dedede 33%, #dedede 66%, #ffffff 66%, #ffffff 100%);
    background:repeating-linear-gradient(45deg, #ffffff 0%, #ffffff 33%, #dedede 33%, #dedede 66%, #ffffff 66%, #ffffff 100%);
    background-size: 24px;
    width: 200px;
    height: 8px;
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 50px;
    animation: toSide 2s linear infinite;
}

@keyframes toSide {
    from {
        background-position-x: 0;
    } to {
        background-position-x: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(720deg);
    }
}

@media only screen and (max-width: 1200px) {
    .auto-width {
        width: 1000px;
    }
}

@media only screen and (max-width: 1000px) {
    .auto-width {
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
    }

    .auto-menu, .auto-menu > * {
        flex-direction: column;
        gap: 12px;
    }

    .auto-menu-button {
        display: flex;
    }

    .header {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 900px) {
    * {
        overflow-x: hidden;
    }

    .sticky {
        position: relative;
    }

    .dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 0;
        width: 100%;
    }

    .dashboard-menu {
        flex-direction: row;
    }

    .dashboard-menu > div {
        flex-direction: row;
    }

    .dashboard > div {
        padding: 0;
        margin: 0;
        gap: 0;
        width: 100% !important;
    }
}

@media only screen and (max-width: 800px) {
    .auto-size > div, .auto-size {
        width: 100% !important;
    }

    .auto-size > div {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}