<div class="w-100%">
    <div class="auto-width flex max1000:flexDirection-row min1000:flexDirection-column p-42px-32px g-12px">
        <div id="mainShowcaseCodeBlockShow" class="w-980px">
            <div class="modal w-100% p-48px-36px flexRow flexCenter flexMiddle g-24px bg-white100 dark:bg-purple10 b-1px-solid-white90 dark:b-1px-solid-purple25">
                <img class="ar-1/1 w-156px br-50%" src="https://avatars.githubusercontent.com/u/83291717?v=4"/>
                <div class="flexColumn flexLeft flexTop fw-500">
                    <div class="c-white0 dark:c-white80 pb-12px">
                        "New and easy way to create html websites, without using external CSS and JavaScript."
                    </div>
                    <div class="c-purple50">Jan Poláček</div>
                    <div class="c-white50">Pixelbite's Developer</div>
                </div>
            </div>
        </div>
        <div class="b-1px-solid-primary br-8px of-hidden fs-18px w-980px">
            <div class="bbottom-1px-solid-primary w-100% p-12px flexRow flexBottom g-6px">
                <div class="br-50% bg-primary ar-1/1 h-12px"></div>
                <div class="br-50% bg-primary ar-1/1 h-12px"></div>
                <div class="br-50% bg-primary ar-1/1 h-12px"></div>
            </div>
            <div class="p-0-0-0-24px">
                <pre class="of-hidden numberedLines"><span><code>&lt;div class=&quot;<code class="c-info">modal w-100% p-48px-36px flexRow flexCenter flexMiddle g-24px bg-white100 dark:bg-purple10 b-1px-solid-white90 dark:b-1px-solid-purple25</code>&quot;&gt;</span>
<span>    &lt;img class=&quot;<code class="c-info">ar-1/1 w-156px br-50%</code>&quot; src=&quot;https://avatars.githubusercontent.com/u/83291717?v=4&quot;&gt;</span>
<span>    &lt;div class=&quot;<code class="c-info">flexColumn flexLeft flexTop fw-500</code>&quot;&gt;</span>
<span>        &lt;div class=&quot;<code class="c-info">c-white0 dark:c-white80 pb-12px</code>&quot;&gt;</span>
<span>            &quot;New and easy way to create html websites, without using external CSS and JavaScript.&quot;</span>
<span>        &lt;/div&gt;</span>
<span>        &lt;div class=&quot;<code class="c-info">c-purple50</code>&quot;&gt;</span>
<span>            Jan Poláček</span>
<span>        &lt;/div&gt;</span>
<span>        &lt;div class=&quot;<code class="c-info">c-white50</code>&quot;&gt;</span>
<span>            Pixelbite's Developer</span>
<span>        &lt;/div&gt;</span>
<span>    &lt;/div&gt;</span>
<span>&lt;/div&gt;</span></code></pre>
            </div>
        </div>
    </div>
</div>