<div class="w-100%">
    <div class="auto-width flex flexColumn ta-center p-42px-32px g-12px">
        <h1 class="fs-56px fw-900">CSS and Javascript framework that makes web development easier.</h1>
        <div class="paragraph c-white50 w-840px fs-18px">
            Customisable CSS and Javascript framework, that uses its own classes like <a class="c-primary fw-500">flex</a>, <a class="c-primary fw-500">ta-center</a> or <a class="c-primary fw-500">slideshow</a> to help developer create websites faster and responsive.
        </div>
        <div class="p-32px flexRow g-12px foreach:fs-16px">
            <button class="b-1px-solid-secondary">Get started</button>
            <button class="bg-rgba(128,128,128,.2) buttonHoverDark c-white0 dark:c-white100">See more in docs</button>
        </div>
    </div>
</div>