<div class="w-100%">
    <div class="auto-width flex max1000:flexDirection-row min1000:flexDirection-column p-42px-32px g-12px">
        <div id="mainShowcaseCodeBlockShow"  class="w-980px">
            <div class="modal w-100% p-48px-36px flexRow flexCenter flexMiddle g-24px bg-white100 dark:bg-purple10 b-1px-solid-white90 dark:b-1px-solid-purple25">
                <img class="ar-1/1 w-156px br-50%" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"/>
                <div class="flexColumn flexLeft flexTop fw-500">
                    <div class="c-white0 dark:c-white80 pb-12px">
                        "New and easy way to create html websites, without using external CSS and JavaScript."
                    </div>
                    <div class="c-purple50">Suzana Everdrill</div>
                    <div class="c-white50">Developer, Web Designer</div>
                </div>
            </div>
        </div>
      <div class="toggle-popup w-600px h-100% bg-white100 br-6px ov-hidden shadow hidden">
        <div class="flexCenter flexMiddle p-98px-10px c-white0 fs-20px">
          Error 404
        </div>
        <div class="flexRow">
          <button class="w-50% buttonOutline fw-400 p-12px c-info b-0 btop-1px-solid-info br-0" onclick="toggleElement('toggle-popup')">
            Cancel
          </button>
          <button class="w-50% buttonOutline fw-400 p-12px c-info b-0 btop-1px-solid-info bleft-1px-solid-info br-0"onclick="toggleElement('toggle-popup')">
            Okay
          </button>
        </div>
        <button class="close-x" onclick="toggleElement('toggle-popup')"></button>
      </div>
      <pre class="of-hidden"><code spellcheck="false" contenteditable="true" oninput="document.getElementById('mainShowcaseCodeBlockShow').innerHTML = this.innerText">&lt;div class=&quot;<code class="c-info">modal w-100% p-48px-36px flexRow flexCenter flexMiddle g-24px bg-white100 dark:bg-purple10 b-1px-solid-white90 dark:b-1px-solid-purple25</code>&quot;&gt;
    &lt;img class=&quot;<code class="c-info">ar-1/1 w-156px br-50%</code>&quot; src=&quot;https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80&quot;&gt;
    &lt;div class=&quot;<code class="c-info">flexColumn flexLeft flexTop fw-500</code>&quot;&gt;
        &lt;div class=&quot;<code class="c-info">c-white0 dark:c-white80 pb-12px</code>&quot;&gt;
            &quot;New and easy way to create html websites, without using external CSS and JavaScript.&quot;
        &lt;/div&gt;
        &lt;div class=&quot;<code class="c-info">c-purple50</code>&quot;&gt;
            Suzana Everdrill
        &lt;/div&gt;
        &lt;div class=&quot;<code class="c-info">c-white50</code>&quot;&gt;
            Developer, Web Designer
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>
</div>