<div class="w-100% flexRow flexSpaceBetween p-24px flexCenter bg-white96 dark:bg-black6 shadow zIndex-11">
    <a href="" class="w-240px td-none fs-22px fw-600 c-white0 dark:c-white100 flexLeft flexMiddle g-6px">PixelbiteCSS</a>
    <div class="w-240px flexBottom min800:d-none max800:d-flex g-8px">
        <a href="https://github.com/Pixelbite-CSS/docs-repo" class="headerRoundedButton" target="_blank">
            <i class="fa-brands fa-github c-black dark:c-white fs-18px mb-1px"></i>
            Visit Github
        </a>
        <a onclick="changeTheme()" class="headerRoundedFullButton pointer ar-1/1">
            <i class="fa-solid fa-moon c-white dark:c-black fs-18px mb-1px"></i>
        </a>
    </div>
    <div class="min800:d-flex max800:d-none">
        <button onclick="toggleElement('headerMenu')" class="bg-transparent flexCenter flexMiddle buttonHoverDark ar-1/1">
            <i class="fa-solid fa-ellipsis-vertical c-black dark:c-white fs-16px mb-1px"></i>
        </button>
    </div>
</div>
<div class="min800:d-flex max800:d-none flexColumn hidden headerMenu p-12px g-8px bg-white96 dark:bg-black6 shadow zIndex-10">
    <button>a</button>
    <button>a</button>
    <button>a</button>
</div>