<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Templates | PixelbiteCSS</title>
  <link rel="stylesheet" href="./../../../style/pixelbite.css">
</head>
<body class="c-white0 dark:c-white100 bg-white100 dark:bg-purple5">
<component path="./../components/header.html" indexPath="./.." docspath="./../docs" componentspath="./../comps" newspath="./../news" templatespath="./"></component>
<div class="loader loader-page flexCenter flexMiddle">
  <div class="loader-line"></div>
</div>
<script src="./../../../script/pixelbite.js"></script>
</body>
</html>